/* avatar */
.avatar-img {
    border-radius: var(--bs-border-radius);
    height: 65px;
    width: 65px;
    object-fit: cover;
}

.avatar {
    height: 65px;
    width: 65px;
}


/* new leave request */
.ea-request-form-date-range{
    background-color: var(--form-control-bg);
    background-repeat: no-repeat;
    block-size: 30px;
    border: 1px solid var(--form-input-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--form-input-shadow);
    color: var(--form-input-text-color);
    font-size: .875rem;
    width: 100%;
    transition: box-shadow .08s ease-in, color .08s ease-in;
    padding: 3px 7px 4px;
}

.checkbox-large input[type="checkbox"] {
    transform: scale(1.8);
    margin-right: 8px;
    margin-bottom: 13px;
    margin-top: 13px;
}

/* calendar_view */

#calendar {
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.fc-event.fc-pending-leave {
    border: 2px dashed #ffc107 !important;
    border-radius: 3px;
}

.fc-event {
    font-size: 0.9rem;
    line-height: 1.2em;
    padding: 4px 6px;
    min-height: 28px;
    border-radius: 4px;
}
.fc-event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.fc-daygrid-event {
    padding: 6px 8px;
    font-size: 1rem;
}

.fc-day-sat, .fc-day-sun {
    background-color: #e9ecef;
}