parameters:
    level: 8
    paths:
        - bin/
        - config/
        - src/
    excludePaths:
        - src/Shared/DTO/
        - src/DataFixtures/
    ignoreErrors:
        - '#App\\Shared\\DTO#'
        - '#getUserIdentifier\(\) should return non-empty-string but returns string.#'
        - '#generateWhoIsOutSection\(\) should return#'
        - '#generateBirthdaysSection\(\) should return#'
        - '#generateHeaderSection\(\) should return#'
        - '#generateEmptyDigestMessage\(\) should return#'
        - '~Parameter #2 \$startDate of class App\\Shared\\Handler\\LeaveRequest\\Command\\SaveLeaveRequestCommand constructor expects DateTimeImmutable, DateTimeImmutable\|null given\.~'
        - '~Parameter #3 \$endDate of class App\\Shared\\Handler\\LeaveRequest\\Command\\SaveLeaveRequestCommand constructor expects DateTimeImmutable, DateTimeImmutable\|null given\.~'
