<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Who is ooo{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('image/icons/icon_pride.png') }}">
        <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
